<div class="container-fluid" id="appointments">
    <div class="row">
        <div class="col">
            <span id="panel-title">Turnos</span>
        </div>
    </div>
    <div class="row g-3" id="appointments-panel">
        <div class="col-xl-6">
            <div id="new-appointment">
                <span class="span-bold">Agendar un nuevo turno</span>
                <p>Presiona aquí si deseas generar un nuevo turno en simples pasos</p>
                <img id="new" src="../../../../../assets/img/Add.png" alt=""
                    [routerLink]="[ '/user/dashboard/inicio',{ outlets: { der: 'turnossearch' } }]">
            </div>
        </div>
        <div class="col-xl-6">
            <div id="scheduled-appointments">
                <span class="span-bold" style="padding-bottom: 0.5em;">Turnos agendados</span>
                <div class="details">
                    <p>Turno para: Rodrigo Amoretti <br>
                        Profesional: Luna Mendez <br>
                        Especialidad: Cardiología <br>
                        Fecha: 12/03/2023 <br>
                        Hora: 12:30 <br>
                        Sede: Brandsen 17225
                        <a style="float: right;">Cancelar</a>
                    </p>
                </div>
                <a>Ver todos</a>
            </div>
        </div>
    </div>

    <div class="row" id="line-container">
        <div class="col" id="line">
        </div>
    </div>

    <div class="row g-3" id="record">
        <span class="span-bold">Historial</span>
        <div class="col-xl-6" id="canceled">
            <span>Turnos cancelados</span>
            <div class="details">
                <p>Turno para: Rodrigo Amoretti<br>
                    Profesional: Gregory House <br>
                    Especialidad: Medicina General <br>
                    Fecha: 10/03/2023 <br>
                </p>
            </div>
        </div>
        <div class="col-xl-6" id="attended">
            <span>Turnos asistidos</span>
            <div class="details">
                <p>Turno para: Rodrigo Amoretti <br>
                    Profesional: Gregory House<br>
                    Especialidad: Medicina General <br>
                    Fecha: 11/03/2023 <br>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <a>Ver historial completo</a>
    </div>
</div>