<div class="row" id="new-appointment">
    
    <div class="col" id="info">
        <span>Agendar un nuevo turno</span>
        <p>Filtra la búsqueda de profesionales según tu preferencia</p>
    </div>

    <div class="row" id="filters">

        <div class="filter">Fecha <img src="../../../../assets/img/Arrow.png" alt=""></div>

        <div class="filter">Especialidad <img src="../../../../assets/img/Arrow.png" alt=""></div>

        <div class="filter">Clínica/Hospital <img src="../../../../assets/img/Arrow.png" alt=""></div>

        <div class="filter">Prepaga/Obra Social <img src="../../../../assets/img/Arrow.png" alt=""></div>

    </div>

    <button>Buscar turno</button>

</div>
