<section id="medico-turno">
    <div class="paneles">
        <!----PANEL IZQUIERDO---->
        <div class="panel panel-left">
            <div class="title">
                <p>Turno</p>
                <a [routerLink]= "[ '/user/dashboard/inicio', { outlets: { izq: 'lista' } }]"><i class="bi bi-arrow-left"></i> Volver</a>
            </div>
            <div class="agendar">
                <div class="titulo">
                    <p>Solicitar turno</p>
                </div>
                <div class="fecha">
                    <label>Seleccione una fecha para su turno</label><br>
                    <input type="date" id="fecha"  formControlName="fecha" 
                    min="2023-01-01" max="2023-12-31">                     
                </div>
                <div class="horario">
                    <label for="">Seleccione un horario</label>
                    <div class="from-group horarios">
                        <!---- 
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="select10" name="options" id="options-0800" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-0800">08:00</label>
                        </div>
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="select0930" name="options" id="options-0830" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-0830">08:30</label>
                        </div>                           
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="select10" name="options" id="options-0900" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-0900">09:00</label>
                        </div>
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="select0930" name="options" id="options-0930" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-0930">09:30</label>
                        </div>
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="selectAlimentos" name="options" id="options-1000" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-1000">10:00</label>
                        </div>
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="selectAlimentos" name="options" id="options-1030" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-1030">10:30</label>
                        </div>
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="selectMovilidad" name="options" id="options-1100" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-1100">11:00</label>
                        </div>
                        <div class="item-horario">                                
                            <input type="ratio" class="btn-check m-2" formControlName="selectMovilidad" name="options" id="options-1130" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-1130">11:30</label>
                        </div>
                        <div class="item-horario">
                            <input type="ratio" class="btn-check m-2" formControlName="select" name="options" id="options-1200" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-1200">12:00</label>
                        </div>
                        <div class="item-horario">
                            <input type="ratio" class="btn-check m-2" formControlName="select" name="options" id="options-1230" autocomplete="off">
                            <label class="btn btn-outline-primary" for="options-1230">12:30</label>
                        </div>--->
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option1">08:00</label>
                        </div> 
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option2">08:30</label>
                        </div>   
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option3">09:30</label>
                        </div> 
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option4">10:00</label>
                        </div>
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option5">10:30</label>
                        </div> 
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option6">11:00</label>
                        </div> 
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option7" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option7">11:30</label>
                        </div> 
                        <div class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="option8" autocomplete="off">
                            <label class="btn btn-outline-primary" for="option8">12:00</label>
                        </div>                                
                    </div>
                </div>
                <div class="footer">
                    <div class="obra">
                        <select>
                            <option value="">¿Obra social?</option>
                            <option value="">IOMA</option>
                            <option value="">Saluf-Forte</option>
                            <option value="">Natural Vibration</option>
                        </select>
                    </div>
                    <div class="boton">
                        <button class="btn btn-blue">Solicitar</button>
                    </div>
                </div>                
            </div>
        </div>
        <!----PANEL DERECHO---->
        <div class="panel panel-right">
            <div class="title">
                <p>Médico</p>
            </div>    
            <div class="titulo">
                <p>{{doctor.firstName}} {{doctor.lastName}} <i class="bi bi-heart-fill"></i></p>
            </div>
            <div class="cuadro">
                <div class="data">
                    <div class="data-sector">
                        <p class="title-data">Perfil profesional</p>
                        <p>Especialidad: {{especialidad.name}}</p>
                        <p>Calificación: <i class="bi bi-star-fill estrella"></i>(5)</p>
                        <p>Matrícula: MP Nº35287</p>
                    </div>
                    <div class="data-sector">
                        <p class="title-data">Clínica/Hospital</p>
                        <p>{{sede.name}}</p>
                        <p>Dirección: {{sede.address}}</p>
                    </div>
                    <div class="data-sector">
                        <p class="title-data">Obra social/Prepaga</p>
                        <p>IOMA</p>
                        <p>SALUD-FORTE</p>
                        <p>Natural Vibration</p>
                    </div>
                </div>
                <div class="img-doctor">
                    <img src="../../../../../../assets/img/Female-doctor.png" alt="">
                </div>
            </div>
            <div class="opinion">
                <a routerLink="/user/dashboard/opiniones">Ver opiniones</a>
            </div>
        </div>
    </div>    
</section>
