#panel-title {
    width: 84px;
    height: 36px;    
}
#medico-turno {
    padding:50px
}
.paneles {
    display:flex;
    justify-content:center
}
.panel {
    height: 80vh;
    width:48%;
    margin:20px;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
}
.title p{
    margin:1px 5px;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    color: #002069;
}
.title {
    display:flex;
    justify-content: space-between;
}
.title a{
    text-decoration: none;
    color:black;
    margin:7px
}
.titulo {
    text-align: center;
    font-weight: bolder;
}

/*--------------------PANEL IZQUIERDO---------------------*/

#horariosDisponibles{
    margin-top:8px
}
.cuadro {
    border:2px solid rgb(110, 199, 228);
    background: white;
    width:90%;
    margin:0 auto;
    border-radius:10px;
    padding:20px;
    display:flex;
    justify-content:space-between
}
.data {
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0
}
.data-sector {
    margin:10px
}
.data-sector p {
    margin:0;
    font-size: 0.8rem;
}
.title-data {
    font-weight: bolder;    
    line-height: 34px;
    color: #002069;
    margin:0
    
}
.img-doctor img {
    height: 350px;
    margin-right: -25px;
}
.img-doctor-mobile img {
    display:none;
    height:130px;
    margin-right: -35px;
    margin-top:10px
}
.mobile {
    display:flex;
    justify-content:space-between
}
.estrella {
    color:rgb(200, 200, 21)
}
.opinion {
    text-align:center;
    font-size: 0.8rem;
    margin:0 auto;
    margin:0 auto;
    padding:25px
}

/*--------------------PANEL DERECHO---------------------*/

.agendar {
    text-align:center
}
.fecha {
    margin-top:20px
}
#fecha {
    margin-top:10px
}
.boton-fecha {
    margin-top:10px
}
.horario {
    margin:20px
}
.horarios {
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}
.item-horario {
    margin:5px;
}
.item-horario label {
    padding:2px;
    font-size:0.7rem
}
#boton-solicitar {
    margin-top:25px
}
.footer {
    display:flex;
    justify-content:space-between;
    padding: 0 40px
}
.obra {
    margin-top:5px;
    border-radius:5px
}
.btn-blue {
    color:white;
    background:blue
}
#advertencia {
    margin-top:100px
}
#advertencia p {
    color:red
}

/*----------------MODAL------------------*/

.modal-header p{
    margin:0 auto;
    font-size:1.5rem;    
}
#logo {
    margin:0 auto;
    display:flex;
    justify-content:center
}
#logo span {
    font-size:2rem;
}
#logo img {
    margin-right:10px;
}
.titulillo {
    text-align:center;
    margin-bottom:25px
}
.botones button {
    margin:5px 10px
}
.modal-footer,.modal-header{
    display:flex;
    justify-content: space-between;   
    background:grey
}
/*----------------------------------------------*/



@media screen and (max-width: 600px) {
    .paneles {
        display:flex;
        flex-wrap:wrap;
        flex-direction: row-reverse;
        justify-content:center;
        padding:0
    }
    .panel{
        width:95%;
        height: max-content;
        margin:15px 5px;
        padding:0
    }
    #medico-turno {
        padding:15px 2px
    }
    .panel-left {
        margin-top:0;
        padding-bottom:25px
    }
    .opinion{
        padding-top:25px
    }
    
}

@media screen and (max-width: 1200px) {
    .img-doctor img {
        height: 200px;
        margin-right: -25px;
    }
    #medico-turno {
        padding-bottom:15px
    }    
}
@media screen and (max-width: 997px) {
    .img-doctor img {
        display:none
    }
    .img-doctor-mobile img{
        display:block;
        height:100px
    }
    #medico-turno {
        padding:0
    }
    
}

