<section id="medico-turno">
    <div class="paneles">
        <!----PANEL IZQUIERDO---->
        <div class="panel panel-left">
            <div class="title">
                <p>Turno</p>
                <a [routerLink]= "[ '/user/dashboard/inicio', { outlets: { izq: 'lista' } }]"><i class="bi bi-arrow-left"></i> Volver</a>
            </div>
            <div class="agendar">
                <div class="titulo">
                    <p>Solicitar turno</p>
                </div>
                <div class="fecha">
                    <label>Seleccione una fecha para su turno</label><br>
                    <input type="date" id="fecha" value="2023-03-06" 
                    min="2023-03-06" max="2023-03-17">                     
                </div>
                <div class="boton">
                    <button class="btn btn-blue" (click)="getSchedules()">Elegir fecha</button>
                </div>
                <div *ngIf="notPosibility">
                    El médico elegido solo atiende de lunes a viernes
                </div>
                <div *ngIf="!notPosibility" class="horario">
                    <label for="">Seleccione un horario</label>
                    <div class="from-group horarios">                        
                        <div *ngFor="let item of scheduleList" class="item-horario">
                            <input type="radio" class="btn-check" name="options" id="{{item.id}}" autocomplete="off">
                            <label class="btn btn-outline-primary" for="{{item.id}}">{{item.hour}}</label>
                        </div>                              
                    </div>
                </div>
                <div class="reservar-turno">
                    <button class="btn btn-blue" (click)="solicitarTurno()" data-bs-toggle="modal" data-bs-target="#solicitarTurno" data-backdrop="static">Solicitar turno</button>
                </div>
                

                <div class="footer">
                    <div class="obra">
                        <select>
                            <option value="">¿Obra social?</option>
                            <option value="">IOMA</option>
                            <option value="">Saluf-Forte</option>
                            <option value="">Natural Vibration</option>
                        </select>
                    </div>
                    
                </div>                
            </div>
        </div>
        <!----PANEL DERECHO---->
        <div class="panel panel-right">
            <div class="title">
                <p>Médico</p>
            </div>    
            <div class="titulo">
                <p>{{doctor.firstName}} {{doctor.lastName}} <i class="bi bi-heart-fill"></i></p>
            </div>
            <div class="cuadro">
                <div class="data">
                    <div class="data-sector">
                        <p class="title-data">Perfil profesional</p>
                        <p>Especialidad: {{especialidad.name}}</p>
                        <p>Calificación: <i class="bi bi-star-fill estrella"></i>(5)</p>
                        <p>Matrícula: MP Nº35287</p>
                    </div>
                    <div class="data-sector">
                        <p class="title-data">Clínica/Hospital</p>
                        <p>{{sede.name}}</p>
                        <p>Dirección: {{sede.address}}</p>
                    </div>
                    <div class="data-sector">
                        <p class="title-data">Obra social/Prepaga</p>
                        <p>IOMA</p>
                        <p>SALUD-FORTE</p>
                        <p>Natural Vibration</p>
                    </div>
                </div>
                <div class="img-doctor">
                    <img src="../../../../../../assets/img/Female-doctor.png" alt="">
                </div>
            </div>
            <div class="opinion">
                <a routerLink="/user/dashboard/opiniones">Ver opiniones</a>
            </div>
        </div>
    </div>    
</section>


<!---------------Modal de confirmación de turno--------------------->
<!--MODAL CONFIRMAR TURNO--->
<div class="modal fade" id="solicitarTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">        
            <div class="modal-body">
                <div>
                    <h5 class="titulo-modal-borrar">¿Desea confirmar este turno?</h5>
                </div>
                <div class="datos-confirm">
                    <p>Paciente: {{nombrePaciente}}</p>
                    <p class="nombre-medico">Médico: {{medicoElegido}}</p>
                    <p class="nombre-especialidad">Especialidad : {{specialityId}}</p>
                    <p class="nombre-sede">Sede: {{sedeId}}</p>
                    <p class="fecha-confirm">Fecha: {{fechaElegida}}</p>
                    <p class="horario-confirm">Horario: {{horarioElegido}}</p>
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton-confirm" class="btn btn-aceptar" data-bs-dismiss="modal" (click)="confirmarTurno()">Confirmar</button>
            </div>        
      </div>
    </div>
</div>
