#user-dashboard {
    z-index:-100;
    height: max-content;
}
.paneles {
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}
.panel {
    width:47%;
    height: 70%;
    margin:65px 5px;
}