#user-dashboard {
    height: max-content;
}
.paneles {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.panel {
    width:47%;
    height: 70%;
    margin:65px 5px;
}

@media screen and (max-width: 600px) {
    .paneles {
        display:flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content:center
    }
    .panel{
        width:90%;
        height: 80%;
        margin:15px 5px;

    }
}