<section class="sesion-background">
  <div id="header">
    <div class="point" routerLink="/landing">
        <div id="logo">
            <img src="../../../assets/img/Calendar.png" alt="" id="logo2">
            <div>
                <span style="color: #0BE3BE;">C</span><span style="color: white;">ita</span>
                <span style="color: #0BE3BE;">M</span><span style="color: white;">ed</span>
            </div>
        </div>
    </div>
  </div>
  <div class="tar">
      <div class="title">
          <p>Registrarse</p>
      </div>        
      <!-----Registro Usuario - Registro Médico----->
      <nav class="vistas" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><button class="" style="color:white" [ngStyle]="{'background-color':patient_view==true?'#0b48d6':'black'}" (click)="patient_view=true">Cuenta Usuario</button></li>
            <li class="page-item"><button  class="" style="color:white" [ngStyle]="{'background-color':patient_view==false?'#0b48d6':'black'}" (click)="patient_view=false">Cuenta Médico</button></li>
          </ul>
      </nav>
      <!---REGISTRO CUENTA USUARIO---->
      <div *ngIf="patient_view" class="formulario">
        <form [formGroup]="registroForm" (ngSubmit)="onRegister()" autocomplete="off">
          <!----Ingrese su nombre--->
          <div class="">
            <label for="nombre">Nombre</label>
            <input type="nombre" id="nombre"  formControlName="firstName" class="form-control" aria-describedby="nombreHelp" placeholder="Maria" [ngClass]="{'is-valid':!Nombre?.errors&& Nombre?.touched}"/>
            <div *ngIf="Nombre?.errors && Nombre?.touched">
              <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                Debe ingresar un nombre
              </p>
            </div>
          </div>
          <!----Ingrese su apellido--->
          <div class="">
            <label for="apellido">Apellido</label>
            <input type="apellido" id="apellido"  formControlName="lastName" class="form-control" aria-describedby="apellidoHelp" placeholder="Gutierrez" [ngClass]="{'is-valid':!Apellido?.errors&& Apellido?.touched}"/>
            <div *ngIf="Apellido?.errors && Apellido?.touched">
              <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                Debe ingresar su apellido
              </p>
            </div>
          </div>          
          <!----Ingrese su DNI---->
          <div class="">
            <label for="dni">DNI</label>
            <input type="number" id="dni"  formControlName="dni" class="form-control" aria-describedby="dniHelp" placeholder="" [ngClass]="{'is-valid':!Dni?.errors&& Dni?.touched}"/>
            <div *ngIf="Dni?.errors && Dni?.touched">
              <p *ngIf="Dni?.hasError('required')" class="text-danger">
                Ingrese su DNI
              </p>
            </div>
          </div>
          <!----Código País---->
          <div class="">
            <label for="codeId">Código País</label>
            <select type="number" id="codeId"  formControlName="codeId" class="form-control" [ngClass]="{'is-valid':!CodeId?.errors&& CodeId?.touched}">                   
                <option *ngFor="let item of listCodes" [value]="item.id">{{item.country}} ({{item.code}})<option>                        
            </select>
            <div *ngIf="CodeId?.errors && CodeId?.touched">
              <p *ngIf="CodeId?.hasError('required')" class="text-danger">
                Ingrese el código de su país
              </p>
            </div>                      
          </div>
          <!----Ingrese su TELEFONO---->
          <div class="">
            <label for="phone">Teléfono</label>
            <input type="number" id="phone"  formControlName="phone" class="form-control" aria-describedby="telefonoHelp" placeholder="2476343498" [ngClass]="{'is-valid':!Phone?.errors&& Phone?.touched}"/>
            <div *ngIf="Phone?.errors && Phone?.touched">
              <p *ngIf="Phone?.hasError('required')" class="text-danger">
                Ingrese su teléfono
              </p>
            </div>
          </div>
          <!----Ingrese su email---->
          <div class="">
            <label  for="email">Email</label>
            <input type="email" id="email"  formControlName="email" class="form-control" aria-describedby="emailHelp" placeholder="mariagutierrez@email.com" [ngClass]="{'is-valid':!Email?.errors&& Email?.touched}"/>
            <div *ngIf="Email?.errors && Email?.touched">
              <p *ngIf="Email?.hasError('required')" class="text-danger">
                Ingrese su email
              </p>
              <p *ngIf="Email?.hasError('email')" class="text-danger">
                El formato del email es inválido
              </p>
            </div>
          </div>
          <!----Ingrese la contraseña--->
          <div class="campo">
            <label class="label" for="password">Contraseña</label>
            <input [type]="ocultar?'password':'text'" id="password" name="password" formControlName="password" class="input-password form-control" [ngClass]="{'is-valid':!Password?.errors&&Password?.touched}"/>
            <label class="eye-icon" for="password"><i [class]="ocultar ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="ocultar = !ocultar"></i></label>
            <div *ngIf="Password?.errors && Password?.touched">
              <p *ngIf="Password?.hasError('required')" class="text-danger">
                Ingrese su contraseña
              </p>
              <p *ngIf="Password?.hasError('minlength')" class="text-danger">
                La contraseña debe tener como mínimo 8 caracteres
              </p>
              <p *ngIf="Password?.hasError('maxlength')" class="text-danger">
                La contraseña debe tener como máximo 22 caracteres
              </p>
              <p *ngIf="Password?.hasError('pattern')" class="text-danger">
                La contraseña debe contener al menos un número y una letra mayúscula
              </p>
            </div>
          </div>
          <!----Footer de registro--->
          <div class="footer">
            <div class="descript">
                <p>¿Ya tienes cuenta?</p>
                <a routerLink="/auth/login">Ingresar</a>
            </div>
            <div class="boton">
                <button class="btn btn-blue" type="submit" [disabled]="!registroForm.valid">Registrarse</button>
            </div>
          </div>
        </form>          
      </div>
      <!-----REGISTRO CUENTA PROFESIONAL---->
      <div *ngIf="!patient_view" class="formulario">
          <div>
              <label for="">Nombre</label><br>
              <input type="text">
          </div>
          <div>
              <label for="">Apellido</label><br>
              <input type="text">
          </div>
          <div>
              <label for="">Especialidad</label><br>
              <input type="text">
          </div>
          <div>
              <label for="">Matricula</label><br>
              <input type="text">
          </div>
          <div>
              <label for="">Email</label><br>
              <input type="text">
          </div>            
          <div>
              <label for="">Contraseña</label><br>
              <input type="text">
          </div>
          <div class="footer">
              <div class="descript">
                  <p>¿Ya tienes cuenta?</p>
                  <a>Ingresar</a>
              </div>
              <div class="boton">
                  <button class="btn btn-blue">Registrarse</button>
              </div>
          </div>
      </div>
      
  </div>
</section>


