<section class="sesion-background">
    <div id="header">
          <div class="point" routerLink="/landing">
              <div id="logo">
                  <img src="../../../assets/img/Calendar.png" alt="" id="logo2">
                  <div>
                      <span style="color: #0BE3BE;">C</span><span style="color: white;">ita</span>
                      <span style="color: #0BE3BE;">M</span><span style="color: white;">ed</span>
                  </div>
              </div>
          </div>
    </div>
    <div class="center">
      <div class="tar">
        <div class="title">
            <p>Restaurar contraseña</p>
        </div>
        <!---REGISTRO CUENTA USUARIO---->
        <div class="formulario">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword($event)" autocomplete="off">          
            <!----Ingrese la contraseña--->
            <div class="campo">
              <label class="label" for="password">Introduzca su nueva contraseña</label>
              <input [type]="ocultar?'password':'text'" id="password" name="password" formControlName="password" class="input-password form-control" [ngClass]="{'is-valid':!Password?.errors&&Password?.touched}"/>
              <label class="eye-icon" for="password"><i [class]="ocultar ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="ocultar = !ocultar"></i></label>
              <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="text-danger">
                  Ingrese su contraseña
                </p>
                <p *ngIf="Password?.hasError('minlength')" class="text-danger">
                  La contraseña debe tener como mínimo 8 caracteres
                </p>
                <p *ngIf="Password?.hasError('maxlength')" class="text-danger">
                  La contraseña debe tener como máximo 22 caracteres
                </p>
                <p *ngIf="Password?.hasError('pattern')" class="text-danger">
                  La contraseña debe contener al menos un número y una letra mayúscula
                </p>
              </div>
            </div>
            <!----Footer de registro--->
            <div class="footer">
              <div class="volver">
                <a routerLink="/auth/login">Volver</a>
              </div>               
              <div class="boton">
                  <button class="btn btn-blue" type="submit" [disabled]="!resetPasswordForm.valid">Enviar</button>
              </div>
            </div>
          </form>          
        </div>         
      </div>
    </div>
    
  </section>
