.medicos {
  width: 100%;
  height: 97%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 4px 0px rgb(209, 208, 208);
}
.content {
  width: 100%;
  height: 90%;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.medicos-title {
  color: #002069;
  font-weight: 600;
  font-size: 24px;
  height: 36px;
}

.content-medical {
  width: 95%;
  height: 80%;
  margin: auto;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
  transition: all .5s;
  background: linear-gradient(90deg, rgba(0, 136, 214, 0.3) 0%, rgba(11, 227, 190, 0.3) 103.11%);
  border-radius: 10px;
  display: none;
}

.content-medical-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins';
}
.content-medical-paragraph {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

.content-medical-slider {
  position: absolute;
  height: 80%;
  transition: all.5s;
  margin-left: 40px;
}


.content-favorite {
  width: 95%;
  height: 8%;
  margin: auto;
  display: flex;
  justify-content: center;
  transition: all .5s;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #0B48D6;
  border-radius: 10px;
}
.conent-favorite-slider {
  display: none;
}

.button-next-medical {
  height: 100%;
  position: absolute;
  background-color: #adf3f3;
  right: 0;
  top: 10px;
  color: black;
  font-size: 50px;
  border: none;
}

.button-prev-medical {
  position: absolute;
  left: 5px;
  top: 40%;
  color: black;
  font-size: 50px;
  background-color: transparent;
  border: none;
}

.medical-separacion {
  background-color: #002069;
  width: 43%;
  right: 53%;
  height: 2px;
  position: absolute;
  top: 58%;
}

.medical-separacion-active {
  top:78%;
}

/*  */
.caja {
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content-medical-slider-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.content-medical-slider-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-medical-slider-profesion {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Poppins';
  color: #0B48D6;
}

.slider-name {
  font-size: 20px;

}
.slider-image {
  width: 25px;
}

.caja-favorite {
  width: 150px;
  height: 150px;
}

.favorite-title {
  position: absolute;
  top: 2px;
  right: 35%;
  font-weight: 500;
  font-family: 'Poppins';
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.button-active-favorite {
  position: absolute;
  right: 10px;
  top: -9px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 40px;
  transform: rotate(270deg);
  transition: transform .5s;
}

.button-active-rotate {
  transform: rotate(90deg);
  right: 0;
  transition: transform .5s;
  color: black;
}
.caja-favorite-desactive {
  display: none;

}

/* CLASES PARA ACTIVAR SLIDER */

.medical-active {
  height: 50%;
  transition: all .5s;
  margin-top: 8px;
}

.favorite-active {
  height: 40%;
  transition: all .5s;
  background-color: transparent;
}

/* CLASES DE BOTONES */

.button-desapear {
  display: none;
}


.button-next-favorite {
  display: none;
}

.button-prev-favorite {
  display: none;
}

.button-favoriteNext {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  background-color: transparent;
  color: black;
  font-size: 50px;
  border: none;
  background-color: white;
}
.button-favoritePrev {
  position: absolute;
  background-color: transparent;
  color: black;
  font-size: 50px;
  border: none;
  left: -10px;
  height: 100%;
  top: 0;
  z-index: 10;
}

/* --------------------------------------------- */

#new-appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  gap: 2em;
  background: linear-gradient(90deg, rgba(0, 136, 214, 0.3) 0%, rgba(11, 227, 190, 0.3) 103.11%);
  border-radius: 10px;
  font-family: 'Poppins';
  margin: 10px;
  margin-top: 5px;
  font-style: normal;
}

.filter-span {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.filter-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #1F1F1F;
  margin-bottom: 0px;
}

#filters {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  align-content: center;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #1F1F1F;
  width: fit-content;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.button-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 156px;
  height: 47px;
  background: #0B48D6;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  border-color: transparent;
}
