<div class="container-fluid">

<!-----------NAVBAR DASHBOARD USUARIO--------------->
<nav id="nav-dashboard-user">
    <div id="logo">
        <img src="../../../assets/img/Calendar.png" alt="" id="logo2">
        <div>
            <span style="color: #0BE3BE;">C</span><span style="color: white;">ita</span>
            <span style="color: #0BE3BE;">M</span><span style="color: white;">ed</span>
        </div>
    </div>
    <div class="saludo-usuario">
        <p>Hola, {{nombreUsuario}}</p>
    </div>
    
    <div class="boton-logout">
        <button class="btn logout" (click)="closeSession()"><i class="bi bi-person-circle"></i></button>
    </div>
    <!--
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>--->
</nav>

<!-----------SECCION DASHBOARD USUARIO--------------->

<section id="user-dashboard">
    <div class="paneles">
        <!----Panel Izquierdo--->
        <div class="panel">
            <app-medicos></app-medicos>
        </div>
        <!----Panel Derecho--->
        <div class="panel">
            <app-turnos></app-turnos>
        </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
</section>


<!-----------FOOTER DASHBOARD USUARIO--------------->
<footer class="" id="footer">
    <div class="" id="copyright">
        <span><i class="bi bi-c-circle"></i> Todos los derechos reservados</span>
    </div>
    <div class="" id="team">
        <span>Desarrollado y diseñado por S6-G10</span>
    </div>
    <div class="" id="social">
        <span>Siguenos en nuestras redes</span>
        <div id="social-icons">
            <div class="social-icon">
                <img src="../../../assets/img/Instagram.png" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../assets/img/Facebook.png" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../assets/img/Linkedin.png" alt="">
            </div>
        </div>
    </div>

</footer>

</div>

