/*--------NavBar Usuario----------*/ 
#nav-dashboard-user {
    display:flex;
    justify-content: space-between;
    background: rgba(8, 8, 8, 0.542);
    backdrop-filter: blur(5px);
    width:100%;
    z-index:100!important
}
#logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22.5352px;
    line-height: 34px;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    gap: 10px;
}
#logo2 {
    left: 12.5%;
    right: 12.5%;
    top: 8.33%;
    bottom: 8.33%;
}
.saludo-usuario {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
    margin-top:25px;
    margin-right:110px;
}
.logout {
    font-size: 35px;
    color:#0b48d6;
    margin-right:20px;
    border:none
}
#drop {
    z-index:999!important;
}
/*------Section Dashboard------*/
#user-dashboard {
    min-height: 100vh;
}
.paneles {
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}
.panel {
    width:48%;
    height: 35vw;
    margin:65px 5px;
}


/*------Footer Dashboard------*/
#footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 10px 30px;
    gap: 10px;
    min-height: 12vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}  
.item-footer {
    text-align: center;
}
#copyright {
    padding-top: 24px;
    gap: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}  
#team {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:22px
}  
#social {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
}  
#social-icons {
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top:10px
}  
.social-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    background: #0b48d6;
    border-radius: 50px;
}
.social-icon img {
    width:15px;
}

.container-fluid{
    width: 100%;
    background-image: url('../../../../assets/img/Calendar-screen.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0px;
    margin: 0px;
}
#seccion-inter {
    z-index:-100!important
}
#drop-box {
    z-index:999

}

@media screen and (max-width: 600px) {
    .saludo-usuario {
        display:none
    }
    
}
@media screen and (max-width: 825px) {
    #footer {
        justify-content:center
    }    
}
