
<div class="container-fluid">

<!-----------NAVBAR DASHBOARD USUARIO--------------->
<nav id="nav-dashboard-user" class="user-dashboard">
    <div id="logo">
        <img src="../../../assets/img/Calendar.png" alt="" id="logo2">
        <div>
            <span style="color: #0BE3BE;">C</span><span style="color: white;">ita</span>
            <span style="color: #0BE3BE;">M</span><span style="color: white;">ed</span>
        </div>
    </div>
    <div class="saludo-usuario">
        <p>Hola, {{nombreUsuario}}</p>
    </div>   
    <div id="drop" ngbDropdown class="d-inline">
        <button type="button" class="btn logout" id="dropdownBasic1" ngbDropdownToggle><i class="bi bi-person-circle"></i></button>
        <div id="drop-box" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="navigatePerfil()">Mi perfil</button>
            <hr>
            <button ngbDropdownItem (click)="navigateDashboard()">Dashboard</button>
            <hr>
            <button ngbDropdownItem (click)="navigateNotes()">Notificaciones</button>
            <hr>
            <button ngbDropdownItem (click)="closeSession()">Cerrar sesión</button>
        </div>
    </div>     
</nav>

<!-----------SECCION DASHBOARD USUARIO--------------->

<div id="seccion-inter">
    <router-outlet></router-outlet>
</div>

<!-----------FOOTER DASHBOARD USUARIO--------------->

<footer class="" id="footer">
    <div class="item-footer" id="copyright">
        <span><i class="bi bi-c-circle"></i> Todos los derechos reservados</span>
    </div>
    <div class="item-footer" id="team">
        <span>Desarrollado y diseñado por S6-G10</span>
    </div>
    <div class="item-footer" id="social">
        <span>Siguenos en nuestras redes</span>
        <div id="social-icons">
            <div class="social-icon">
                <img src="../../../assets/img/Instagram.png" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../assets/img/Facebook.png" alt="">
            </div>
            <div class="social-icon">
                <img src="../../../assets/img/Linkedin.png" alt="">
            </div>
        </div>
    </div>
</footer>
</div>



