<div class="container-fluid" id="appointments">
    <div class="row">
        <div class="col">
            <span id="panel-title">Turnos</span>
        </div>
    </div>

    <div id="new-appointment">

        <div id="info">
            <span class="span-bold">Agendar un nuevo turno</span>
            <p>Filtra la búsqueda de profesionales según tu preferencia</p>
        </div>

        <div class="row g-3" id="filters">

            <div class="col-12 col-md-auto">
                <div ngbDropdown>
                    <button class="filter" type="button" ngbDropdownToggle>
                        {{specialtyName}}
                    </button>
                    <ul id="drop-box" ngbDropdownMenu>
                        <li *ngFor="let spec of specialties" let i=index>
                            <div class="dropdown-item" (click)="selectSpecialty(spec.id, spec.name)" ngbDropdownItem>
                                {{spec.name}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-auto">
                <div ngbDropdown>
                    <button class="filter" type="button" ngbDropdownToggle>
                        {{locationName}}
                    </button>
                    <ul id="drop-box2" ngbDropdownMenu>
                        <li *ngFor="let sede of locations" let i=index>
                            <div class="dropdown-item" (click)="selectLocation(sede.id, sede.name)" ngbDropdownItem>{{sede.name}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-auto">
                <div ngbDropdown>
                    <button class="filter" type="button" ngbDropdownToggle>
                        {{date}}
                    </button>
                    <div class="dropdown-item">
                        <input type="date" formControlName="fecha" id="drop-box3" ngbDropdownMenu
                            (change)="selectDate()">
                    </div>
                </div>
            </div>
        </div>

        <button (click)="searchTurnos()">Buscar turno</button>

    </div>

    <div class="row" id="line-container">
        <div class="col" id="line">
        </div>
    </div>

    <div class="row g-3" id="record">

        <span class="span-bold">Historial</span>

        <div class="col-xl-6" id="canceled">
            <span>Turnos cancelados</span>
            <div class="details">
                <p>Turno para: Florencia Schwarzenegger <br>
                    Profesional: Adelio Valdez <br>
                    Especialidad: Cardiología <br>
                    Fecha: 12/03/2023 <br>
                </p>
            </div>
        </div>

        <div class="col-xl-6" id="attended">
            <span>Turnos asistidos</span>
            <div class="details">
                <p>Turno para: Florencia Schwarzenegger <br>
                    Profesional: Adelio Valdez <br>
                    Especialidad: Cardiología <br>
                    Fecha: 12/03/2023 <br>
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <a href="">Ver historial completo</a>
    </div>
</div>