<div class="container" id="profile">
    <div class="row" id="panel-header">
        <div class="col">
            <span><img src="../../../../../../assets/img/Back-arrow.png" alt=""> Volver</span>
        </div>
        <div class="col" id="panel-title">
            <span>Ines Wimbler <img src="../../../../../../assets/img/Heart.png" alt=""></span>
        </div>
        <div class="col">
            <div id="button">Solicitar turno</div>
        </div>
    </div>
    <div class="row" id="info-panel">
        <div class="col" id="doctor-info">
            <span class="span-bold">Perfil profesional</span>
            <div class="details">
                <p> Profesional: Ines Wimbler <br>
                    Especialidad: Endocrinología <br>
                    Calificación: <img src="../../../../../../assets/img/Golden-star.png" alt="">(5) <br>
                    N° de matrícula: #13.650 <br>
                    CV: <a href="">Ines_cv.pdf</a>
                </p>
            </div>
        </div>
        <div class="col" id="doctor-info2">
            <span class="span-bold">Clínicas/hospitales</span>
            <div class="details">
                <p> Hospital Pirovano, C.A.B.A <br>
                    Hospital de Clínicas, C.A.B.A <br>
                    Hospital Héroes de Malvinas, Buenos Aires
                </p>
            </div>
            <span class="span-bold">Obra social/Prepaga</span>
            <div class="details">
                <p>O.S.D.E <br>
                   O.S.E.C.A.C
                </p>
            </div>
        </div>
    </div>

    <div class="row" id="line-container">
        <div class="col" id="line">
        </div>
    </div>
    <div class="row g-1" id="opinions">
        <span class="span-bold">Opiniones</span>
        <div class="col">
            <div class="details">
                <p><img src="../../../../../../assets/img/Avatar.png" alt=""> Florencia Flores <img src="../../../../../../assets/img/Golden-star.png" alt="">(5)<br>
                    5/5. ¡Excelente profesional!.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="details">
                <p><img src="../../../../../../assets/img/Avatar.png" alt=""> Pablo Martinez <img src="../../../../../../assets/img/Golden-star.png" alt="">(5)<br>
                    Atención muy cálida, ¡Gracias!.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="details">
                <p><img src="../../../../../../assets/img/Avatar.png" alt="">Santiago Stocolmo<img src="../../../../../../assets/img/Golden-star.png" alt="">(5)<br>
                    Muy buena atención.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="">Ver todas</a>
    </div>
</div>

