<section>
    <div class="tar">
        <div class="title">
            <p>Registrarse</p>
        </div>        
        <!-----Registro Usuario - Registro Médico----->
        <nav class="vistas" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><button class="" style="color:white" [ngStyle]="{'background-color':patient_view==true?'#0b48d6':'black'}" (click)="patient_view=true">Cuenta Usuario</button></li>
              <li class="page-item"><button  class="" style="color:white" [ngStyle]="{'background-color':patient_view==false?'#0b48d6':'black'}" (click)="patient_view=false">Cuenta Médico</button></li>
            </ul>
        </nav>
        <div *ngIf="patient_view" class="formulario">
            <div>
                <label for="">Nombre</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Apellido</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">DNI</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Email</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Código de área</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Teléfono celular</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Contraseña</label><br>
                <input type="text">
            </div>
            <div class="footer">
                <div class="descript">
                    <p>¿Ya tienes cuenta?</p>
                    <a>Ingresar</a>
                </div>
                <div class="boton">
                    <button class="btn btn-blue">Registrarse</button>
                </div>
            </div>
        </div>
        <div *ngIf="!patient_view" class="formulario">
            <div>
                <label for="">Nombre</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Apellido</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Especialidad</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Matricula</label><br>
                <input type="text">
            </div>
            <div>
                <label for="">Email</label><br>
                <input type="text">
            </div>            
            <div>
                <label for="">Contraseña</label><br>
                <input type="text">
            </div>
            <div class="footer">
                <div class="descript">
                    <p>¿Ya tienes cuenta?</p>
                    <a>Ingresar</a>
                </div>
                <div class="boton">
                    <button class="btn btn-light">Registrarse</button>
                </div>
            </div>
        </div>
        
    </div>
</section>
