<div class="container-fluid" id="appointments">
    <div class="rowing">
        <div class="">
            <span id="panel-title">Agendar turno</span>
        </div>
        <div id="volver">
            <a [routerLink]="[ '/user/dashboard/inicio',{outlets:{der:'turnossearch'}}]"><i class="bi bi-arrow-left"></i> Volver</a>
        </div>
    </div>

    <div id="new-appointment">

        <!-- ---------------FILTROS-------------- -->
        <div class="row g-2" id="filters">

            <!-- <div class="col"> -->
                <!----
            <div id="back">
                <a [routerLink]="[ '/user/dashboard/inicio',{outlets:{der:'turnossearch'}}]">
                    <img src="../../../../../../assets/img/Arrow-back.png" class="img-fluid" alt=""> Volver</a>
            </div>--->
            <!-- </div> -->

            <div class="col-12 col-md-auto">
                <button class="filter">
                    {{specialty}}
                </button>
            </div>

            <div class="col-12 col-md-auto">
                <button class="filter">
                    {{location}}
                </button>
            </div>

            <div class="col-12 col-md-auto">
                <button class="filter">
                    {{date}}
                </button>
            </div>

        </div>

        <!-- <div class="row" id="item">
            
            <div class="col-3">
                <div class="doctor">
                    <span>Ines Wimbler</span>
                    <p>Cardiología <br>
                        H. Héroes de Malvinas <br>
                        <a href="">Ver perfil</a>
                    </p>
                </div>
            </div>

            <div class="col schedule">
                <button>15:00</button> <button>15:30</button><button>16:00</button><button>16:30</button>
            </div>

            <div class="col-1 heart">
                <div>
                    <img src="../../../../../../assets/img/Heart-red.png" alt="" class="img-fluid">
                </div>
            </div>

        </div>

        -->

        <!-- LISTA DE TURNOS POR ESPECIALIDAD, SEDE Y FECHA -->
        
        <div class="row" id="item" *ngFor="let item of schedulesList let i=index">            
            <div class="col-3">
                <div class="doctor">
                    <span>{{schedulesList[i][0].doctor.firstName}} {{schedulesList[i][0].doctor.lastName}}</span>
                    <p>{{specialty}} <br>
                        {{location}} <br>
                        <a [routerLink]="[ '/user/dashboard/inicio',{outlets:{der:'medicoperfil'}}]">Ver perfil</a>
                    </p>
                </div>
            </div>

            <div class="col schedule">
                <div *ngFor="let val of schedulesList[i]">
                    <button class="buttone" (click)="reserve(val.id,schedulesList[i][0].doctor.firstName + '' + schedulesList[i][0].doctor.lastName,val.hour.slice(0,5))" data-bs-toggle="modal" data-bs-target="#solicitarTurno" data-backdrop="static">{{val.hour.slice(0,5)}}</button>
                    
                </div>
            </div>
            <div class="col-1 heart">
                <div>
                    <img src="../../../../../../assets/img/Heart-red.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------Modal de confirmación de turno--------------------->
<!--MODAL CONFIRMAR TURNO--->
<div class="modal fade" id="solicitarTurno" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal-agregar">
            <div class="modal-header">
                <div id="logo">
                    <img src="../../../assets/img/Calendar.png" alt="" id="logo2">
                    <div>
                        <span style="color: #0BE3BE;">C</span><span style="color: white;">ita</span>
                        <span style="color: #0BE3BE;">M</span><span style="color: white;">ed</span>
                    </div>
                </div>
            </div>        
            <div class="modal-body">
                <div class="titulillo">
                    <h5 class="titulo-modal-borrar">¿Desea confirmar este turno?</h5>
                </div>
                <div class="datos-confirm">
                    <p>Paciente: {{nombrePaciente}}</p>
                    <p class="nombre-medico">Médico: {{doctor}}</p>
                    <p class="nombre-especialidad">Especialidad : {{specialty}}</p>
                    <p class="nombre-sede">Sede: {{location}}</p>
                    <p class="direccion-sede">Dirección {{address}}</p>
                    <p class="fecha-confirm">Fecha: {{date}}</p>
                    <p class="horario-confirm">Horario: {{horario}}</p>
                </div>
            </div>
            <div class="modal-footer botones">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                <button id="boton-confirm" class="btn btn-primary" data-bs-dismiss="modal" (click)="confirmarTurno()">Confirmar turno</button>
            </div>        
      </div>
    </div>
</div>