<!-- eslint-disable prettier/prettier -->
<div class="container-fluid" id="above">
    <div class="row" id="header">
        <div class="col">
            <div id="logo">
                <img src="../../../assets/img/Calendar.png" alt="" id="logo2">
                <div>
                    <span style="color: #0BE3BE;">C</span><span style="color: white;">ita</span>
                    <span style="color: #0BE3BE;">M</span><span style="color: white;">ed</span>
                </div>
            </div>
        </div>
        <div class="col" id="auth">
            <a routerLink="/auth/registro"><button class="btn btn-primary">Registrarse</button></a>
            <a routerLink="/auth/login"><button class="btn btn-primary" id="login">Ingresar</button></a>
        </div>

    </div>

    <div class="row" id="slogan">
        <div class="col">
            <span>CitaMed</span>
            <div class="inline">
                <div class="line"></div>
                <p> Gestiona tus turnos fácilmente</p>
            </div>
            <!-----
            <a href="#more" class="btn btn-primary">Conoce más</a>--->
            <a (click)="scrollTo('more')"class="btn btn-primary">Conoce más</a>
        </div>
    </div>

</div>

<div class="container-fluid" id="more">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="description">
                <span class="title">¿Qué es CitaMed?</span>
                <p><b>CitaMed</b> es una aplicación que nació con el propósito de simplificar los turnos
                    médicos y tu vida.
                    Evitando tener que hacer traslados innecesarios y largas filas de espera para que te atiendan.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="attributes">
                <img src="../../../assets/img/Device.png" alt="" class="icons">
                <div class="attribute-description">
                    <span class="title">Responsive</span>
                    <p>Utilizala desde cualquier dispositivo ¡la web se adapta a vos!</p>
                </div>
            </div>

            <div class="attributes">
                <img src="../../../assets/img/Clock.png" alt="" class="icons">
                <div class="attribute-description">
                    <span class="title">Simple</span>
                    <p>Gestiona tus turnos de manera fácil y rápida</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="info">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="description">
                <span class="title">Preguntas frecuentes</span>
                <ul>
                    <li>¿Cómo debo hacer para registrarme?</li>
                    <li>¿Cómo puedo generar un nuevo turno?</li>
                    <li>¿Cómo puedo cancelar un turno?</li>
                    <li>¿Cómo puedo modificar mi contraseña?</li>
                    <li>Olvidé mi contraseña, ¿Cómo puedo recuperarla?</li>
                    <li>¿Cómo puedo modificar mis datos personales?</li>
                    <li>¿Cómo puedo contactar con un profesional?</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="description">
                <form class="row g-2">
                    <div class="col-md-6">
                        <span class="title">¡Escribinos!</span>
                        <p>Dejanos tus datos y te contactamos</p>
                    </div>
                    <div class="col-md-6">
                        <label for="inputPhone" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="inputPhone">
                    </div>
                    <div class="col-md-6">
                        <label for="inputName" class="form-label">Nombre</label>
                        <input type="string" class="form-control" id="inputName">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="col-12">
                        <label for="inputMessage" class="form-label">Mensaje</label><small> (opcional)</small>
                        <textarea class="form-control" id="inputMessage" rows="1"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary float-end">Enviar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="row" id="footer">
        <div class="col" id="copyright">
            <span><i class="bi bi-c-circle"></i> Todos los derechos reservados</span>
        </div>

        <div class="col" id="team">
            <span>Desarrollado y diseñado por S6-G10</span>
        </div>

        <div class="col" id="social">
            <span>Siguenos en nuestras redes</span>
            <div id="social-icons">
                <div class="social-icon">
                    <img src="../../../assets/img/Instagram.png" alt="">
                </div>
                <div class="social-icon">
                    <img src="../../../assets/img/Facebook.png" alt="">
                </div>
                <div class="social-icon">
                    <img src="../../../assets/img/Linkedin.png" alt="">
                </div>
            </div>
        </div>

    </div>
    

</div>
