#above {
  border-radius: 0px 0px 10px 10px;
  background-image: url(src\assets\img\banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

#logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22.5352px;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  gap: 10px;
}

#logo2 {
  left: 12.5%;
  right: 12.5%;
  top: 8.33%;
  bottom: 8.33%;
}

#auth {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#login {
  background: transparent;
  border-color: transparent;
}

#login:hover {
  border-color: #048CDA;
  color: #048CDA;
}

#slogan {
  display: flex;
  padding: 0px 10px 15px 10px;
  gap: 10px;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

#slogan span {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f1f1f1;
}

#slogan p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  display: flex;
  margin-bottom: 0px;
}

#slogan .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#slogan .btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #0b48d6;
  border-radius: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

#slogan .btn:hover{
  background: #048CDA;
}

.line {
  width: 17.59px;
  height: 2px;
  background: linear-gradient(90deg, #0088d6, #0be3be);
  margin-right: 0.5em;
}

.inline {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

#more {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #1f1f1f;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 10px;
  background: #ffffff;
  height: 100%;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #002069;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12.6316px 11.7895px;
  gap: 8.42px;
  width: 64px;
  height: 65.68px;
  background: #FFFFFF;
  box-shadow: 0px 3.36842px 3.36842px rgba(0, 0, 0, 0.25);
  border-radius: 8.42105px;
}

.attributes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
}

.attribute-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p {
  margin-bottom: 0px;
}

.form-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #002069;
}

#info {
  padding-top: 2em;
  padding-bottom: 1em;
}
/*
#footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 10px 30px;
  gap: 10px;
  height: 15vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  margin-top: 1em;
  position: absolute;
}

#copyright {
  padding: 0px;
  gap: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

#team {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

#social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  background: #0b48d6;
  border-radius: 50px;
}
*/


/*------Footer------*/
#footer {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 10px 30px;
  gap: 10px;
  min-height: 12vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}  
.item-footer {
  text-align: center;
}
#copyright {
  padding-top: 24px;
  gap: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}  
#team {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:22px
}  
#social {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}  
#social-icons {
  display: flex;
  justify-content: center;
  gap:15px;
  margin-top:10px
}  
.social-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  /*background: #0b48d6;*/
  background: rgba(0, 0, 0,0.3);
  border-radius: 50px;
}
.social-icon img {
  width:20px;
}
#link-equipo {
  text-decoration:none;
  color:white
}

@media screen and (max-width: 825px) {
  #footer {
      justify-content:center
  }    
}
#attr-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  gap: 10px;
}

/* ---------ACORDION-------------- */

.faq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 10px;
}

.toggle{
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
}

.question-container{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 9px;
}

.answer{
  padding: 0.5em;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  width: fit-content;
  height: 47px;
  background: #0B48D6;
  border-radius: 10px;
  color: #FFFFFF;
}

.btn:hover{
  background: #048CDA;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 500px) {

  #logo {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 10px;
    gap: 10px;
  }

  #auth button {
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    padding: 0.5em;
    height: auto;
  }

}