<section id="cartilla">
    <div>
        <div class="panel">
            <div class="title">
                <p>Médicos</p>
            </div>
            <!------Buscar Profesional-----> 
            <div class="cuadro">
                <div class="texto">
                    <p class="subtitle">Cartilla de médicos</p>
                    <p class="descript">Selecciona los filtros de búsqueda</p>                
                </div>
                <div class="filtros">
                    <div class="selectors">
                        <div class="form-group">                            
                            <div ngbDropdown>
                                <button class="filter" type="button" ngbDropdownToggle>
                                    {{especialidad}}
                                </button>
                                <ul id="especialidad" ngbDropdownMenu>
                                    <li *ngFor="let item of especialidades" let i=index>
                                        <div class="dropdown-item" (click)="selectEspecialidad(item.id,item.name)" ngbDropdownItem>{{item.name}}
                                        </div>
                                    </li>
                                </ul>
                            </div>                        
                        </div>
                        <div class="form-group">                            
                            <div ngbDropdown>
                                <button class="filter" type="button" ngbDropdownToggle>
                                    {{sede}}
                                </button>
                                <ul id="sede" ngbDropdownMenu>
                                    <li *ngFor="let item of sedes" let i=index>
                                        <div class="dropdown-item" (click)="selectSede(item.id,item.name)" ngbDropdownItem>{{item.name}}
                                        </div>
                                    </li>
                                </ul>
                            </div>                            
                        </div>                    
                    </div>                       
                </div>
                <div class="boton">
                    <button class="btn btn-blue" (click)="findDoctors()">Buscar</button>
                </div>
            </div>
            <div class="row" id="line-container">
                <div class="col" id="line">
                </div>
            </div>
            <!------Favoritos------>
            <div class="favoritos">
                <div class="subtitle2">
                    <p>Médicos favoritos</p>
                </div>
                <div class="galeria">
                    <div class="medico-favorito">
                        <img class="imagen-medico" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa3c4cneKF70QX050d-wIHIGdM080GgvYpCA&usqp=CAU">
                        <p class="nombre">René Favaloro</p>
                        <p class="especialidad">Cardiología</p>
                    </div>
                    <div class="medico-favorito">
                        <img class="imagen-medico" src="https://www.topdoctors.com.co/files/Image/large/5300fd45331fbccef0c0367e6f212d17.jpg">
                        <p class="nombre">Laura Breticcelli</p>
                        <p class="especialidad">Medicina general</p>
                    </div>                    
                </div>
            </div>
            <div class="ver-todos">
                <a routerLink="/user/dashboard/perfil">Ver todos</a>
            </div>
        </div>
    </div>
</section>

