<section id="cartilla">
    <div>
        <div class="panel">
            <div class="title">
                <p>Médicos</p>
                <a [routerLink]= "[ '/user/dashboard/inicio',{outlets:{izq:null}}]"><i class="bi bi-arrow-left"></i> Volver</a>
            </div>
            <!------Buscar Profesional-----> 
            <div class="cuadro">
                <div class="texto">
                    <p class="subtitle">Cartilla de médicos</p>
                    <p class="descript">Estos son los profesionales disponibles de acuerdo a tu búsqueda.</p>                
                </div>
                <div class="busqueda">
                    <div class="medicos-disponibles">
                        <div *ngFor="let item of listaMedicos" class="med-fav medico-favorito">
                            <a class="seleccion" [routerLink]= "[ '/user/dashboard/medico-turno']" (click)="medicoId(item.id)">
                                <img class="imagen-medico" [src]="item.role" alt="imagen">
                                <div class="nombre-puntos">
                                    <p class="nombre">{{item.firstName}} {{item.lastName}}</p>
                                    <p><i class="bi bi-star-fill estrella"></i>(5)</p>
                                </div>                            
                                <p class="especialidad">{{item.speciality.name}}</p>

                            </a>                            
                        </div>                                                         
                    </div>     
                </div>
            </div>
            <hr>
            <!------Favoritos------>
            
            <div class="favoritos">
                <div class="subtitle2">
                    <p>Médicos favoritos</p>
                </div>
                <div class="galeria">
                    <div class="medico-favorito">
                        <img class="imagen-medico" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa3c4cneKF70QX050d-wIHIGdM080GgvYpCA&usqp=CAU">
                        <p class="nombre">René Favaloro</p>
                        <p class="especialidad">Cardiología</p>
                    </div>
                    <div class="medico-favorito">
                        <img class="imagen-medico" src="https://www.topdoctors.com.co/files/Image/large/5300fd45331fbccef0c0367e6f212d17.jpg">
                        <p class="nombre">Laura Breticcelli</p>
                        <p class="especialidad">Medicina general</p>
                    </div>                    
                </div>
            </div>
            <div class="ver-todos">
                <a routerLink="/user/dashboard/perfil">Ver todos</a>
            </div>
        </div>
    </div>
</section>

